.input__error {
  display: block;
  min-height: 14px;
  margin-top: 4px;
  color: #ff004c;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input__label {
  display: block;
  color: #a0a0a0;
  font-family: var(--font);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.input__field {
  padding: 15px;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
  background: #f9f9f9;
  width: 100%;
  border: none;
  color: #000;
  font-family: var(--font);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-height: 46px;
}

.input__field_error {
  color: #ff004c;
}
