.movies-card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 32px;
}
@media screen and (max-width: 1280px) {
    .movies-card-list {
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 36px;
    }
}

@media screen and (max-width: 768px) {
    .movies-card-list {
        grid-template-columns: 1fr;
        column-gap: 20px;
    }
}
