.footer {
  background: #fafafa;
  padding: 0px 70px 20px;
}
@media screen and (max-width: 1280px) {
  .footer {
    padding: 0px 30px 20px;
    background: #fff;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 0px 10px 20px;
    background: #fff;
  }
}

.footer__content {
  max-width: var(--width);
  margin: auto;
}

.footer__content-divider {
  background: #e8e8e8;
  height: 1px;
  width: 100%;
  margin: 20px 0;
}
@media screen and (max-width: 1280px) {
  .footer__content-divider {
    margin: 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .footer__content-divider {
    margin: 21px 0 30px;
  }
}

.footer__content-title {
  color: #a0a0a0;
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: var(--font);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding-top: 79px;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .footer__content-title {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .footer__content-title {
    font-size: 12px;
  }
}

.footer__content-body {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: "year name link";
  gap: 20px;
}
@media screen and (max-width: 1280px) {
  .footer__content-body {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .footer__content-body {
    justify-items: center;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "name"
      "link"
      "year";
    gap: 12px;
  }
}

.footer__content-body-year {
  grid-area: year;
  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: var(--font);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 1280px) {
  .footer__content-body-year {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .footer__content-body-year {
    padding-top: 18px;
    font-size: 12px;
    color: #a0a0a0;
  }
}

.footer__content-body-name {
  grid-area: name;
  color: #000;
  text-align: right;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: var(--font);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 1280px) {
  .footer__content-body-name {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .footer__content-body-name {
    font-size: 12px;
  }
}

.footer__content-body-link {
  text-decoration: none;
  grid-area: link;
  color: #000;
  text-align: right;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: var(--font);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity 0.3s;
}
.footer__content-body-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1280px) {
  .footer__content-body-link {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .footer__content-body-link {
    font-size: 12px;
  }
}
